.plus {
  font-size: 22px;
  border: 1px solid;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0px;
  background: #2a9de9;
  color: #ffffff;
  margin: auto;
  text-align: center;
}

.mid-plus p {
  font-weight: 600;
  text-align: center;
}

.m-tp {
  margin-top: 20px;
}

.mid-plus {
  position: relative;
  top: 34%;
}

.upload-input {
  width: 200px;
  height: 200px;
  border: 1px solid #2a9de9;
  border-radius: 7px;
  margin: 10px 10px;
  cursor: pointer;
}
